<%- include("partials/header.ejs") %>
<h1 style="color: brown">Hi from index</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, repellat reprehenderit sint a facilis ea dicta, debitis voluptates amet dolorem ratione reiciendis commodi officiis error ipsum nostrum obcaecati? Animi, tempore!</p>
<h1>test</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, porro. Quis eum reiciendis quaerat praesentium blanditiis autem rerum accusantium inventore aperiam consequuntur corporis quisquam aliquid, illum libero minima, asperiores sunt!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, porro. Quis eum reiciendis quaerat praesentium blanditiis autem rerum accusantium inventore aperiam consequuntur corporis quisquam aliquid, illum libero minima, asperiores sunt!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, porro. Quis eum reiciendis quaerat praesentium blanditiis autem rerum accusantium inventore aperiam consequuntur corporis quisquam aliquid, illum libero minima, asperiores sunt!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, porro. Quis eum reiciendis quaerat praesentium blanditiis autem rerum accusantium inventore aperiam consequuntur corporis quisquam aliquid, illum libero minima, asperiores sunt!</p>
<%- include("partials/footer.ejs") %>
