<%- include("partials/header.ejs") %>



<div class="img-container mt-2">
    <img src="/media/main.jpg" class="img-fluid image-with-shadow" alt="">
    <div class="overlay"></div>
    <div class="top-left">
      <h1>Τα πάντα που θα χρειαστείς για το τοπικό πρωτάθλημα, όλα σε ένα μέρος</h1>
      <h4></h4>
    </div>
  </div>


  

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/page1">page1</a></li>
    <li><a href="/page2">page2</a></li>
  </ul>
<%- include("partials/footer.ejs") %>
